.bloque-contenido-filosofia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 80px auto;
    max-width: 1100px;
    flex-wrap: wrap;
  }
  
  .filosofia-texto {
    max-width: 700px;
    text-align: justify;
  }
  
  .filosofia-texto h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .filosofia-texto p {
    font-size: 20px;
    line-height: 1.6;
  }
  
  .circulos-filosofia {
    position: relative;
    width: 350px;
    height: 350px;
  }
  
  .circulo {
    width: 190px;  /* antes era 150px */
    height: 190px;
    border-radius: 50%;
    background-color: #d9d9d9;
    position: absolute;
    background-size: cover;
    background-position: center;
  }
  

  
  /* Media query para teléfonos */
@media (max-width: 600px) {
  .bloque-contenido-filosofia {
    flex-direction: column;
    gap: 30px;
    margin: 40px 20px;
  }

  .filosofia-texto {
    max-width: 100%;
  }

  .filosofia-texto h2 {
    font-size: 22px;
    text-align: center;
  }

  .filosofia-texto p {
    font-size: 16px;
    text-align: justify;
  }

  .circulos-filosofia {
    width: 280px;
    height: 280px;
    margin: 0 auto;
  }

  .circulo {
    width: 130px;
    height: 130px;
  }

  .imagen1 {
    top: 0;
    left: 40px;
  }

  .imagen2 {
    top: 40px;
    left: 80px;
  }

  .imagen3 {
    top: 80px;
    left: 0px;
  }
}