.requirements {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 32px */
  width: 100%;
  max-width: 57rem; /* 912px */
  margin: auto;
  line-height: 1.6;
}

.requirements__heading {
  font-size: 2rem; /* 32px */
  text-align: center;
  font-weight: bold;
}

.requirementsSection {
  display: flex;
  flex-direction: column;
}

.requirementsSection__heading {
  font-size: 1.5rem; /* 24px */
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .requirements {
    padding-inline: 1rem;
  }
}
